<div id="sidebardk" class="sidebar" data-color="purple">
    <div class="logo">
        <!-- <span class="simple-text logo-normal" id="UserLog">Nombre del logeado</span> -->
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <li 
            class="nav-item"
            [routerLink]="item.path"
            routerLinkActive="active"
            *ngFor="let item of menuList">
                <a class="nav-link" style="cursor: pointer;">
                    <i class="material-icons">person</i>
                    <p>{{item.title}}</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cerrarSesion" style="cursor: pointer;"
                (click)="logout()">
                    <i class="material-icons">logout</i>
                    <p>Cerrar sesión</p>
                </a>
            </li>
        </ul>
    </div>
</div>