<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Perfil docente</h4>
        <!-- <p class="card-category">Complete your profile</p> -->
    </div>
    <div class="card-body">
        <form id="frmPerfiDocente">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Nombre</b></label>
                        <input type="text" class="form-control" name="nombre" id="nombre" [value]="perfil.nombre"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Género</b></label>
                        <input type="text" class="form-control" name="genero" id="genero" [value]="perfil.genero"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>DUI</b></label>
                        <input type="email" class="form-control" name="dui" id="dui" [value]="perfil.dui"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Email</b></label>
                        <input type="email" class="form-control" name="email" id="email" [value]="perfil.email"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Nip</b></label>
                        <input type="text" class="form-control" [value]="perfil.nip"
                            name="nip" id="nip" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Usuario</b></label>
                        <input type="text" class="form-control" name="usuario" id="usuario" [value]="perfil.dtusuarioUsuario"
                         disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Teléfono</b></label>
                        <input type="text" class="form-control" name="telefono" id="telefono" [value]="perfil.telefono" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>