<div class="card">
    <div class="card-header card-header-primary">
        <div class="form-check form-check-inline">
            <h4 class="card-title">Grado Responsable</h4>
            &nbsp;&nbsp;
        </div>
    </div>
    <div class="card-body p-4 p-4">
        <form id="frmGradoEncargado" name="frmGradoEncargado">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="" for="gradoResponsable"><b>Grado</b></label>
                        <span class="form-control">{{gradoresponsable.grado}} {{gradoresponsable.seccion}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="" for="cantidadAlumnos"><b>Cantidad de
                                alumnos</b></label>
                        <input type="number" class="form-control" [value]="gradoresponsable.cantidad"
                            id="cantidadAlumnos" name="cantidadAlumnos" disabled />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <a href="#pnllisStudents" id="btnCalificarGradoResponsable"
                        class="btn btn-primary btn-sm">
                        <i class="material-icons">remove_red_eye</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>