
<div class="modal fade" id="mdPrevImpresion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Resumen de notas</h5>
                <button type="button" class="close btn btn-secondary m-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-dark">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <input type="hidden" name="idalumnoPrevBoleta" id="idalumnoPrevBoleta">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <button class="btn btn-primary" href="#" id="printBoletNotasEstudiantex">
                                    <i class="material-icons list-inline-item">print</i>
                                    Imprimir
                                    <div class="ripple-container"></div>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col form-group">

                        <label class="bmd-label-floating"></label>
                        <select class="form-control" name="selectPreviewBoleta" id="selectPreviewBoleta" required>
                            <option value="" disabled>Seleccione uno</option>
                            <option value="1" selected>I Trimestre</option>
                            <option value="2">II Trimestre</option>
                            <option value="3">III Trimestre</option>
                            <option value="4">Cierre escolar</option>
                        </select>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mr-3 ml-3">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tbBoletaAsistencia">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="text-center text-white bg-primary">Asistencia</td>
                                    <td colspan="2" class="text-center">
                                        <h5 class="font-weight-bold" id="valorAsistenciaTrim">%</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <span hidden id="nmStudente"></span>
                <div id="boxPrintNotasxStuden" class="text-center" style="padding-top: 20px;">
                    <div class="table-responsive">
                        <table class="table" id="tbBoletaPreview">
                            <thead class="text-center bg-primary text-white">
                                <th scope="col">Materia</th>
                                <th scope="col">35%</th>
                                <th scope="col">35%</th>
                                <th scope="col">30%</th>
                                <th scope="col">Total</th>
                            </thead>
                            <tbody id="tbBoletaModalEstudiante">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- tabla conducta -->
                <div class="text-center" style="padding-top: 20px;">
                    <div class="table-responsive">
                        <table class="table " id="tbboletaConductas">
                            <thead class="text-center bg-primary text-white">
                                <tr>
                                    <th scope="col" colspan="2">Conducta</th>
                                </tr>
                            </thead>
                            <tbody id="tbBoletaCoductaEstudiante">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>