<div class="card">
    <div class="card-header card-header-primary">
        <div class="form-check form-check-inline">
            <h4 class="card-title">Lista de Grados</h4>
            &nbsp;&nbsp;
            <!-- <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                    <a class="nav-link" href="notas.html" data-toggle="tab" id="printBoletNotas">
                    <i class="material-icons">print</i> Imprimir
                    <div class="ripple-container"></div>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Buscar</label>
                    <input type="text" class="form-control" id="buscarTeacher"
                        placeholder="Buscar Grado">
                </div>
            </div> -->
        </div>
        <div class="table-responsive tableFixHead">
            <table class="table table-hover table-bordered" id="tblistGradosCalicar">
                <thead class="card-header-primary">
                    <tr>
                        <th scope="col" class="text-center text-white">
                            Grado
                        </th>
                        <th scope="col" class="text-center text-white">
                            Sección
                        </th>
                        <th scope="col" class="text-center text-white">
                            Cantidad
                        </th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of gradosCalificar">
                        <td class="text-center">{{item.descripcion}}</td>
                        <td class="text-center">{{item.seccionDescripcion}}</td>
                        <td class="text-center">{{item.cantidad_alumnos}}</td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm btnShowAllStudentsByGradeTeacher"
                                href="#crdregistronotas">
                                Mostrar
                            </a>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>
</div>