<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Perfil de estudiante</h4>
        <!-- <p class="card-category">Complete your profile</p> -->
    </div>
    <div class="card-body">
        <form id="frmPerfilEstudiante">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="" for="nombreStudent"><b>Nombre</b></label>
                        <input type="text" class="form-control" [value]="estudiante.nombre" name="nombreStudent" id="nombreStudent"
                            disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="" for="NieStudent"><b>Nie</b></label>
                        <input type="text" class="form-control" [value]="estudiante.nie" name="NieStudent" id="NieStudent"
                            disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled" id="fecha_llenadoestu">
                        <label class="" for="fechanNaciStudent"><b>Fecha de
                            nacimiento</b></label>
                        <input type="text" class="form-control" value=""
                            name= "fechanNaciStudent" id="fechanNaciStudent"
                            [value]="estudiante.fecha_nacimiento"
                            disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group bmd-form-group is-filled" id="fecha_llenadoestu">
                        <label class="" for="fechaIngresoEstudiante"><b>Fecha
                            de ingreso</b></label>
                        <input type="text" class="form-control" value=""
                            name="fechaIngresoEstudiante" id="fechaIngresoEstudiante"
                            [value]="estudiante.fecha_ingreso" disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>Usuario</b></label>
                        <input type="email" class="form-control" name="userStudent" id="userStudent" [value]="estudiante.dtusuarioUsuario"
                            disabled />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h5><b>Datos de responsable</b></h5>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="" ><b>Nombre</b></label>
                        <input type="text" class="form-control" name="nombreResonsble" id="nombreResonsble"
                        [value]="estudiante.encargado_nombre"
                            disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=""><b>DUI</b></label>
                        <input type="text" class="form-control" name="duiResponsable" id="duiResponsable"
                        [value]="estudiante.encargado_dui"
                            disabled />
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating"><b>E-mail</b></label>
                        <input type="email" class="form-control" id="emailResponsable"
                            disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating"><b>DUI</b></label>
                        <input type="email" class="form-control" id="duiResponsable"
                            disabled />
                    </div>
                </div>
            </div> -->
        </form>
    </div>
</div>