<router-outlet></router-outlet>

<!-- 
ADMIN
    PAGINA 
        GESTION DE GRADOS
        LISTA DE CALIFICACIONES
            TABLA LISTA DE GRADOS

        BOLETA Y GESTION DE GRADO
        GESTION USUARIOS
            TABLA ESTUDIANTES


ADMIN Y DOCENTE
    DOC.  INGRESO NOTAS
    ADMIN GESTION DE CALIFICACIONES
        TABLA REGISTRO DE NOTAS

    DOC TABLA LISTA DE GRADOS NO TIENE COLUMN ENCARGADO
    ADM TABLA GESTION DE GRADOS TIENE ENCARGADO


ADMIN Y ESTUDENT
    ADMIN PAGINA BOLETA Y GESTION DE GRADOS 
    ESTUD MIS NOTAS
        MODAL IMPRIMIR BOLETA



 -->