<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Mis Notas</h4>
        <p class="card-category">
        <ul class="nav nav-tabs" data-tabs="tabs">

            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#mdPrevImpresion">
                    <i class="material-icons">book</i> Boleta
                    <div class="ripple-container"></div>
                </button>
            </li>
        </ul>

    </div>
    <div class="card-body">
        <!-- <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Buscar</label>
                    <input type="text" class="form-control" id="buscarInMaterisS"
                        placeholder="Buscar Materia">
                </div>
            </div>
        </div> -->
        <div id="notasAlumnno">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        <h5 class="text-lower"><b>Estudiante:</b>
                            <span id="spNombreEstudiante"> {{calificacion[0]?.nombre}}</span>
                        </h5>
                        <h5><b>Grado:</b> {{perfil.gradoDescripcion}} {{perfil.gradoSeccionDescripcion}} <span id="spGradoCursando"></span></h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered rounded"
                    id="tbListCalificaciones">
                    <thead id="theadalln" class="card-header-primary">
                        <tr>
                            <th scope="col" colspan="1" rowspan="2"
                                class="text-center text-white">
                                <b>Materia</b>
                            </th>
                            <th scope="col" colspan="5" class="text-center text-white">
                                1° Trimestre
                            </th>
                            <th scope="col" colspan="5" class="text-center text-white">
                                2° Trimestre
                            </th>
                            <th scope="col" colspan="5" class="text-center text-white">
                                3° Trimestre
                            </th>
                            <th scope="col" colspan="1" rowspan="2"
                                class="text-center text-white">
                                <span class="">Nota Final</span>
                            </th>
                            <th scope="col" colspan="1" rowspan="2"
                                class="text-center text-white">
                                <span class="">Asistencia Final</span>
                            </th>
                        </tr>
                        <tr>
                            <!-- <th scope="col" rowspan="2" class="text-center text-white">
                                Materia
                            </th> -->
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                30%
                            </th>
                            <th scope="col" class="text-center text-white">
                                Total Trimestre
                            </th>
                            <th scope="col" class="text-center text-white">
                                Asistencia
                            </th>
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                30%
                            </th>
                            <th scope="col" class="text-center text-white">
                                Total Trimestre
                            </th>
                            <th scope="col" class="text-center text-white">
                                Asistencia
                            </th>
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                35%
                            </th>
                            <th scope="col" class="text-center text-white">
                                30%
                            </th>
                            <th scope="col" class="text-center text-white">
                                Total Trimestre
                            </th>
                            <th scope="col" class="text-center text-white">
                                Asistencia
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of calificacion">
                            <td>{{item.materia}}</td>
                            <td>{{item.calificacion1t1}}</td>
                            <td>{{item.calificacion1t2}}</td>
                            <td>{{item.calificacion1t3}}</td>
                            <td>{{item.totaltrimestre1}}</td>
                            <td>{{item.asistenciat1}}</td>

                            <td>{{item.calificacion2t1}}</td>
                            <td>{{item.calificacion2t2}}</td>
                            <td>{{item.calificacion2t3}}</td>
                            <td>{{item.totaltrimestre2}}</td>
                            <td>{{item.asistenciat2}}</td>

                            <td>{{item.calificacion3t1}}</td>
                            <td>{{item.calificacion3t2}}</td>
                            <td>{{item.calificacion3t3}}</td>
                            <td>{{item.totaltrimestre3}}</td>
                            <td>{{item.asistenciat3}}</td>
                            <td>{{item.notafinal}}</td>
                            <td>{{item.asistenciat1 + item.asistenciat2 + item.asistenciat3}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-md-resumen-notas/>